@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap");
.flex {
  display: flex;
  justify-content: space-between;
}
input {
  outline: none;
  border: none;
}
.mgAuto {
  margin: auto;
}
/* LOGO CSS START */
.logo {
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo p {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
}
.logo span {
  font-size: 14px;
}
/* LOGO CSS END */
body {
  background-color: #2b2b2b;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
/* LOGIN START */
.board {
  border-radius: 10px;
  background-color: #353535;
  width: 325px;
  margin: auto;
  padding-bottom: 20px;
  margin-top: 15%;
}
.login-board {
  height: 361px;
}
.test-border {
  border: 1px solid red;
}
.input-login {
  margin: auto;
  /* width: 100%; */
  display: flex;
  justify-content: center;
}
.input-login input {
  margin: auto;
  width: 260px;
  height: 40px;
  background-color: #646464;
  border: none;
  outline: none;
  color: white;
  border-radius: 40px;

  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
.input-login input::placeholder {
  color: white;
}

.login-btn {
  margin: auto;
  text-align: center;
}
.login-btn input {
  margin-top: 45px;
  width: 270px;
  height: 40px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.form-link {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
/* LOGIN END */
/* board start */
.menu-board {
  margin-top: 30px;
  width: 240px;
  height: 360px;
  background-color: #353535;
  border-radius: 10px;
  padding-bottom: 20px;
}
.link img {
  margin-left: 8px;
}
.menu-links {
  text-align: right;
  width: 70%;
  margin: auto;
}
.link {
  font-size: 14px;
  margin-bottom: 10px;
}
.user-header-info {
  width: 60vw;
  margin: auto;
  height: 300px;
  background-color: #353535;
  border-radius: 10px;
  margin-top: 30px;
}
.profilecontent {
  margin: auto;
  display: flex;
  justify-content: center;
}
.user-header-info img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 232px;
}
.user-link {
  display: flex;
  width: 80%;
  margin-top: -50px;
  margin-left: 60px;
}
.user-link img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.profile-text {
  margin-left: 20px;
}
.user-info {
  color: white;
  font-size: 16px;
}
.user-info p {
  margin: 0;
  font-weight: 800;
}
.profile-nav {
  font-size: 14px;
  margin-top: 25px;
}
.profile-nav-link {
  margin-right: 30px;
}
.create-post-form {
  margin: auto;
  width: 70%;
  background-color: #353535;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.create-post-form input {
  height: 35px;
  border-radius: 10px;
  background-color: #353535;
  border: none;
  width: 80%;
  outline: none;
  color: white;
  padding-left: 15px;
}
.create-post-form input ::placeholder {
  color: white;
}
.create-post-form button {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #353535;
  color: white;
  font-size: 12px;
}
.post-board {
  width: 60%;
  min-height: 50px;
  margin: auto;
  background-color: #353535;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
}
.post-board-header {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.post-board-header-user-info {
  margin-left: 30px;
  margin-top: 13px;
}
.post-board-header-user-info img {
  border-radius: 50px;
}
.post-board-header-user-info-title {
  margin-top: 5%;
  margin-left: 10px;
}
.post-board-header-user-info-title p {
  margin: 0px;
  font-size: 14px;
  font-weight: 800;
}
.post-board-header-user-info-title span {
  font-size: 12px;
}
.post-board-header-user-info-date {
  margin-right: 33px;
  font-size: 12px;
  margin-top: 2%;
  text-align: right;
}
.post-board-header-user-info-date p {
  margin-bottom: 0;
}
.post-board-header-user-info-date a {
  margin: 0;
}
.post-board-content {
  font-size: 14px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
}
.feedcontent {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
}
.posts {
  width: 70vw;
}
.search-dialog-form {
  margin: auto;
  margin-top: 25px;
}
.mailview-content {
  margin-left: 35px;
  margin-top: 35px;
}
/* Dialog board */
.dialog-board {
  display: flex;
  width: 60%;
  height: 70px;
  background-color: #353535;
  margin: auto;
  text-align: right;
  margin-top: 15px;
  border-radius: 10px;
  text-align: left;
  justify-content: left;
  color: white;
  cursor: pointer;
}
.dialog-board-delete {
  margin: 25px 25px auto auto;
  font-size: 12px;
}
.dialog-board img {
  margin-top: 12px;
  margin-left: 25px;
  border-radius: 50px;
}
.text-dialog-board {
  margin-top: 15px;
  margin-left: 20px;
}
.text-dialog-board p {
  margin: 0;
  font-size: 14px;
  font-weight: 800;
}
.text-dialog-board span {
  font-size: 12px;
}
.notFound {
  text-align: center;
  margin-top: 40vh;
  color: white;
}
.friend-view-board {
  display: flex;
  width: 90vw;
  margin: auto;
}
.friend-box {
  margin-left: 50px;
}
.search-user-form {
  margin: auto;
  display: flex;
  width: 70%;
  background-color: #353535;
  height: 40px;
  border-radius: 10px;
  margin-top: 35px;
  justify-content: space-between;
  padding-right: 20px;
}
.search-user-form input {
  height: 35px;
  background-color: #353535;
  outline: none;
  border: none;
  border-radius: 10px;
  color: White;
  width: 80%;
  padding-left: 18px;
  font-size: 12px;
}
.search-user-form button {
  color: white;
  background-color: #353535;
  border: none;
  font-size: 12px;
}
/* friend-board */
.friend-board {
  display: flex;
  margin: auto;
  height: 70px;
  background-color: #353535;
  width: 60%;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  margin-top: 10px;
}
.friend-board p {
  margin: 0;
  margin-top: 10px;
}
.friend-board img {
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
.friend-board-text {
  margin-left: 20px;
  cursor: pointer;
  margin-top: 5px;
}
.friend-board-text p {
  font-weight: 800;
}
.friend-board-text a {
  font-size: 12px;
}
.friend-board-delete {
  margin: 25px 25px auto auto;
  font-size: 12px;
}
/*  */
.selection-mail-content {
  width: 60vw;
  min-height: 60vh;

  margin-left: 30px;
  margin-top: 30px;
}
.selection-mail-board {
  display: flex;
  justify-content: center;
}
.selection-mail-header {
  width: 70%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-radius: 10px;
  background-color: #353535;
  color: white;
}
.selection-mail-header-menu {
  margin-right: 30px;
}
.selection-mail-header-title p {
  font-size: 14px;
}
.dialog-container {
  width: 80%;
  margin: auto;
  height: 50vh;
  overflow: auto;
}
.dialog-container::-webkit-scrollbar {
  width: 0;
}
.user-dialog-board {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;

  margin-top: 30px;
  height: 100px;
  font-size: 12px;

  color: white;
}
.user-dialog-info {
  width: 10%;
}
.user-dialog-info p {
  text-align: center;
  margin: 0;
  margin-left: 1px;
  margin-right: auto;
}
.user-dialog-message {
  width: 87%;

  background-color: #353535;
  border-radius: 100px;
}
.user-dialog-message p {
  margin: 20px 30px;
}
.send-message-form {
  width: 70%;
  height: 40px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.send-message-form input {
  background-color: #353535;
  border-radius: 10px;
  height: 40px;
  width: 75%;
  outline: none;
  border: none;
  color: white;
  padding-left: 10px;
}
.send-message-form button {
  height: 40px;
  background-color: #353535;
  color: white;
  width: 20%;
  border: none;
  border-radius: 10px;
}
/* mainlayout  */
.main-container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.main-content {
  width: 80%;
}
/* end mainlayout */
/* search document form */
.search-document {
  margin: auto;
  width: 80%;
  height: 40px;
  background-color: #353535;
  border-radius: 10px;
  margin-top: 25px;
}
.search-document input {
  width: 80%;
  height: 40px;
  background-color: #353535;
  border-radius: 10px;
  color: white;
  padding-left: 20px;
}

.search-document button {
  height: 40px;
  width: 20%;
  border-radius: 10px;
  border: none;
  background-color: #353535;
  color: white;
  text-align: right;
  padding-right: 15px;
}
/* end search document form */
/* resultbox.vuew */
.result-doc-box {
  margin: auto;
  width: 60%;
  height: 110px;
  background-color: #353535;
  color: white;
  border-radius: 10px;
  margin-top: 30px;
  justify-content: left;
  font-size: 14px;
}
.left-result-doc-box img {
  margin: 20px auto auto 21px;
}
.doc-title {
  margin-left: 15px;
  margin-top: 20px;
}
.doc-title p {
  margin: auto;

  font-weight: 800;
}
.doc-name {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 12px;
}
.doc-name p {
  margin: 0;
  margin-left: 5px;
}
.right-result-doc-box {
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 20px;
}
.doc-delete {
  margin: 25px 25px auto auto;
  font-size: 12px;
}
/* profileinfo */
.gr-board {
  width: 80%;
  margin: auto;
  height: 120px;
  background-color: #353535;
  border-radius: 10px;
  justify-content: left;
  color: white;
  font-size: 16px;
  margin-top: 40px;
}
.left-gr-side img {
  margin: 10px 0 0 20px;
}
.title-gr-board {
  margin-left: 20px;
  margin-top: 25px;
}
.title-gr-board p {
  margin: 0;
  font-weight: 800;
}
.link-gr-board {
  margin-left: 20px;
  font-size: 14px;
}
.link-gr-board a {
  margin-top: 15px;
  margin-right: 50px;
}
/* grouppost */
.group-post-board {
  width: 70%;

  background-color: #353535;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  justify-content: left;
}

.left-side-gr-post img {
  margin-left: 20px;
  margin-top: 15px;
}
.gr-info-post p {
  margin: 0;
  font-weight: 800;
}
.title-gr-post {
  margin-top: 20px;
  margin-left: 10px;
}
.center-gr-post {
  width: 90%;
}
.gr-post-date-create {
  margin-right: 30px;
  text-align: right;
}
.content-gr-post p {
  margin: 0;
  margin-bottom: 20px;
}

.content-gr-post {
  margin-left: 10px;
  margin-right: 30px;
}
/* Search-group-form */
.search-group-form {
  width: 70%;
  margin: auto;
  height: 40px;
  background-color: #353535;
  border-radius: 10px;
  margin-top: 25px;
  font-size: 12px;
}
.search-group-form input {
  width: 70%;
  border-radius: 10px;
  background-color: #353535;
  height: 35px;
  color: white;
  padding-left: 10px;
}
.search-group-form button {
  width: 30%;
  border-radius: 10px;
  border: none;
  background-color: #353535;
  color: white;
  text-align: right;
  padding-right: 10px;
}
/* group-list-board */
.group-list-board {
  width: 60%;
  height: 70px;
  margin: auto;
  background-color: #353535;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
  justify-content: left;
  font-size: 14px;
  cursor: pointer;
}
.group-list-board p {
  margin: 0;
  font-weight: 800;
}
.group-list-board span {
  font-size: 12px;
}
.group-list-board img {
  margin: 10px 0 0 20px;
}
.group-info-list-board {
  margin: 15px 0 0 20px;
}
.group-list-board-delete {
  margin: 25px 25px auto auto;
  font-size: 12px;
}
/* Setting css */
.title-setting-board {
  width: 70%;
  height: 40px;
  text-align: center;
  color: white;
  background-color: #353535;
  margin: auto;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 30px;
}
.title-setting-board p {
  margin: auto;
  padding-top: 10px;
}
/* setting-form */
.setting-form {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  font-size: 12px;
  margin-top: 10px;
}
.setting-input {
  width: 40%;
  color: white;
  margin: auto;
  margin-top: 10px;
}
.setting-input input {
  width: 90%;
  padding-left: 5px;
  height: 35px;
  border: none;
  background-color: #353535;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}
.setting-input label {
  margin: 10px 0 10px 10px;
}
.setting-btn {
  width: 30%;
  margin: auto;
  border: none;
  margin-top: 20px;
  height: 30px;
  background-color: #353535;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}
.setting-save-btn {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #353535;
  color: white;
}
/* window-create-group */
.window-create-group {
  margin-top: 30px;
  border-radius: 10px;
  background-color: #353535;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 05px;
}
.create-group-btn {
  margin: auto;
  width: 50%;
}
.create-group-btn button {
  margin: auto;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #353535;
  color: white;
  border: none;
  margin-top: 25px;
  font-size: 14px;
  cursor: pointer;
}
.create-group-input {
  font-size: 14px;
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 15px;
}
.create-group-input input {
  width: 100%;
  margin: auto;
  height: 40px;
  background-color: #646464;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  margin-top: 5px;
}
.create-group-input input::placeholder {
  color: white;
}
.create-group-sub {
  margin: auto;
  width: 50%;
}
.create-group-sub button {
  background-color: #2b2b2b;
  width: 100%;
}
/* header info user profil */
/* regform input file */
.input_wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  height: 30px;
  padding-top: 5px;
  margin-top: 10px;
  background-color: #646464;
  color: white;
  border-radius: 40px;
  font-size: 14px;
}
.input_file {
  display: none;
}
.input_file-button {
}
/* inputform */
.setting-btn {
}
.setting-btn input {
  display: none;
}
.setting-img-btn {
  text-align: center;
  margin-top: 5%;
}
/* Notification */
.notificator {
  display: none;
  position: fixed;
  width: 250px;
  /* height: 100px; */
  background-color: #353535;
  border-radius: 100px;
  text-align: center;
  margin: auto;
  margin-top: 40vw;
  margin-left: 30px;
  animation: blink infinite alternate 0.5s ease-in-out;
}
.notificator p {
  /* padding-top: 7%; */

  color: white;
  font-size: 18px;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* error-login */
.error-login {
  position: fixed;
  width: 40%;
  display: none;
  background-color: #646464;
  text-align: center;
  padding: 100px 0 100px 0;
  font-size: 26px;
  margin: 5% 0 0 30%;
  color: white;
  border-radius: 10px;
}
